.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}

.shopcategory-indexSort {
  display: flex;
  margin: 0px 70px;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}

.shopcategory-indexSort p span {
  font-weight: 600;
}

.shopcategory-products {
  margin: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}

.shopcategory-Search {
  width: 300px; /* Initial width */
  max-width: 80%; /* Responsive width */
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: all 0.3s ease;
  margin: 0 auto;
}

.shopcategory-Search:focus {
  width: 500px; 
  max-width: 90%;
  border-color: #007bff; 
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); 
}


.shopcategory-Search::placeholder {
  color: #888;
  font-style: italic;
}
@media (max-width: 1280px) {
  .shopcategory-banner {
    margin: 20px auto;
  }
  .shopcategory-indexSort {
    width: 90%;
    margin: auto;
  }
  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }
  .shopcategory-indexSort p {
    font-size: 12px;
  }
  .shopcategory-products {
    width: 90%;
    margin: 10px auto;
    row-gap: 40px;
  }
  .shopcategory-products .item {
    margin: auto;
  }
  .shopcategory-loadmore {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .shopcategory-banner {
    width: 95%;
  }
  .shopcategory-products {
    width: 95%;
  }
  .shopcategory-loadmore {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .shopcategory-products {
    grid-template-columns: 1fr 1fr;
  }
}
